.consultarReservasG-container {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .consultarReservasG-filterContainer {
    margin-bottom: 20px;
  }
  
  .consultarReservasG-filterSelect {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  
  .consultarReservasG-tableContainer {
    overflow-x: auto;
  }
  
  .consultarReservasG-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .consultarReservasG-th {
    border-bottom: 2px solid #ddd;
    padding: 12px;
    background-color: #f4f4f4;
  }
  
  .consultarReservasG-td {
    border-bottom: 1px solid #ddd;
    padding: 12px;
  }
  
  .consultarReservasG-icon {
    font-size: 20px;
    color: #28a745; /* Color verde para el ícono */
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .consultarReservasG-icon:hover {
    color: #218838; /* Color verde más oscuro al pasar el ratón */
  }
  